*.pyc
.svn
*.db
*.conf
.idea
backup
doc/_build
/libs/ftp/ftpserver.py
/libs/ftp/cert.pem
obs
/config.json
/static
/libs/jinshankuaipan/jinshan_key.py

/libs/services/beanstalkdServices

/libs/services/clients

/libs/services/tests

/syncdb_needed.txt

/rootapp/local_keys.py

/rootapp/secret_key.py

/.ropeproject
/_eric4project

/*.e4p

/libs/obj_related/test_keys.py

/libs/webmanage/django_commands_dict.py

/rootapp/separated_settings/bae_secrets.py
