Django==1.4.6
mimeparse
python-dateutil
beanstalkc
lxml
defusedxml
PyYAML
python-digest
biplist
django-tastypie==0.9.12
qrcode
libmagic
django-guardian
cherrypy
#django-social-auth
#Use the following instead of the original to support baidu PCS
git+https://github.com/weijia/django-social-auth.git#egg=django-social-auth
git+https://github.com/weijia/django-tagging-ng.git#egg=django-tagging-ng
django-registration
git+https://github.com/weijia/django-registration-defaults.git#egg=django-registration-defaults
requests
git+https://github.com/weijia/baidu-pcs.git#egg=baidu-pcs
git+https://github.com/weijia/iconizer.git#egg=iconizer
#oauth2 will use pyutil or distutil. But distutil does not work with cx freeze. So use pyutil
pyutil
django-classbasedsettings
TimeSlice
jsonpickle
#Install from exe or manually
pillow
PyQt
pywin32
# pspcopg: http://www.stickpeople.com/projects/python/win-psycopg/2.5.0/psycopg2-2.5.win32-py2.7-pg9.2.4-release.exe
psycopg2
cx_Freeze
# pyopenssl: https://pypi.python.org/pypi/pyOpenSSL
pyopenssl
