Django==1.4.6
mimeparse
python-dateutil
lxml
defusedxml
PyYAML
python-digest
biplist
django-tastypie==0.9.12
qrcode
libmagic
cherrypy
django-social-auth
requests
git+https://github.com/weijia/django-social-auth.git
#Install from exe or manually
pillow
PyQt
pywin32
psycopg2
cx_Freeze
git+https://github.com/xiaocong/baidu-pcs