{% extends "ui_framework/three_pane.html" %}
{% load i18n %}
{% block title %}
<TITLE>{% trans "Desktop" %}</TITLE>
{% endblock %}
{% block west_block %}
{% block script_jstree %}
<!--Include all script using blocks so scripts will not be loaded more than once?-->
<script src="/static/jstree/jquery.jstree.js" type="text/javascript"></script>
{% endblock %}
{% block script_csrf %}
<!--Include all script using blocks so scripts will not be loaded more than once?-->
<script src="/static/csrf.js" type="text/javascript"></script>
{% endblock %}
{% include "objsys/tree.html" %}
{% endblock %}
{% block content_block %}
<div id="content">
</div>
{% endblock %}
{% block north_block %}
{% endblock %}
